# Node.js ve React modülleri
frontend/node_modules/
backend/node_modules/

# Log dosyaları
frontend/npm-debug.log
backend/npm-debug.log

# Build klasörleri
frontend/build/
backend/build/

# Environment dosyaları
frontend/.env
backend/.env

# Uygulama görüntüleri
/applicationImages
